* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0a0702;
}
canvas {
    background: #eee;
    display: block;
    cursor: none;
    border: 1px solid white;
}
#bestScore {
    position: absolute;
    top: 1%;
    right: 2%;
    color:white;
    font-weight: bold;
    z-index: 10;
    pointer-events: none;
}
#score {
    position: absolute;
    top: 5%;
    right: 2%;
    color:white;
    font-weight: bold;
    z-index: 10;
    pointer-events: none;
}
#main{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    user-select: none;
}
#hp{
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 10;
    pointer-events: none;
}
#hp img{
    width: 50px;
    height: 50px;
}