* {
    padding: 0;
    margin: 0;
}

canvas {
    background: #eee;
    display: block;
    cursor: none;
}
#score {
    position: absolute;
    top: 2%;
    right: 2%;
    color:white;
    font-weight: bold;
    z-index: 10;
    pointer-events: none;
}
#main{
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
#hp{
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 10;
    pointer-events: none;
}
#hp img{
    width: 50px;
    height: 50px;
}